*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, select{
    cursor: pointer;
}

select{
    padding: 0.3rem;
}

input{
    width: 40px;
    padding: 0.3rem 0.1rem;
    text-align: center;
}

button{
    padding: 0.3rem 0.5rem;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1rem 1rem 1rem;
    text-align: center;
}

.main-title{
    margin-bottom: 2rem;
}

#dimensionSelector{
    min-width: 50px;
}

#matrix{
    width: min-content;
    margin: 3rem auto 0 auto;
    display: grid;
    gap: 0.3rem;
}

#calculateDetBtn{
    margin-top: 2rem;
    display: none;
}

#result{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.cell.faulty{
    background-color: #f88;
}